header {
    padding: 0;
    
}

.flex-box {
    display: flex;
    background-color: blue;
    height: 200px;
    flex-direction: row;
    color: aliceblue;
    justify-content: space-around;
    text-align: center;

}

.child-1 {
        margin:10px;
        padding:10px;
        background-color:#ff0000;
        text-align: center;
}
.child-2 {
    margin:10px;
    padding:10px;
    background-color:green;
    text-align: center;
}
.child-3 {
    margin:10px;
    padding:10px;
    background-color:yellow;
    text-align: center;
    color: black;
    width: 100px;
}


#div-flex {
    display: flex;
    justify-content: center;
    background-color: aqua;
    margin: 10px;
    text-align: center;
    
}

#article-1 {
    background-color: purple;
    flex-basis: 70%;
    height: 250px;
    
}

#aside-1 {
    background-color: blanchedalmond;
    flex-basis: 30%;
    height: 150px;
}
 
#div-flex-1 {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 0, 144);
    margin: 10px;   
    flex-direction: row-reverse;
    gap: 10px;
    text-align: center;
}
#article-2 {
    background-color: purple;
    flex-basis: 70%;
    height: 250px;
    }
    #aside-2{
        background-color: blanchedalmond;
        flex-basis: 30%;
        height: 150px;
    }

.flex {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #ff0000;
}

.flex > div {
    flex-basis: calc(100% / 2);
}

 p {
    text-align: center;
 }

 h1 {
    text-align: center;
 }

 footer.flex div{
    flex-basis: calc((100%) / 5);
    height: 50px;
    background-color:;
 }

 footer .flex div:first-child{
    flex-basis: 25%;
 }

 footer {
    background-color: #23272A;
 }