header {
    padding-block: 15px;
    background-color: #ADD8E6;
}

.flex {
    display: flex;
}

header > .flex {
    justify-content: space-around;
}

.logo,
.menu,
.btn-accedi {
    height: 50px;
    width: 50px;
    background-color: #DAA521;
}

.text-container {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    height: 100px;
    margin-top: 20px;
    background-color: #21B2AA;
}






/* inizio main */




#

#article-1 {
    background-color: purple;
    flex-basis: 70%;
    height: 250px;
    
}

#aside-1 {
    background-color: blanchedalmond;
    flex-basis: 30%;
    height: 150px;
}
 
#div-flex-1 {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 0, 144);
    margin: 10px;   
    flex-direction: row-reverse;
    gap: 10px;
    text-align: center;
}
#article-2 {
    background-color: purple;
    flex-basis: 70%;
    height: 250px;
    }
    #aside-2{
        background-color: blanchedalmond;
        flex-basis: 30%;
        height: 150px;
    }



 p {
    text-align: center;
 }

 h1 {
    text-align: center;
 }


 /* inizio footer */
 footer.flex div{
    flex-basis: calc((100%) / 5);
    height: 50px;
    color: aliceblue;
 }

 footer .flex div:first-child{
    flex-basis: 25%;
 }

 footer {
    background-color: #23272A;
 }